{% block audioInput %}
<div class="col-span-8 mx-auto p-4 w-full container">
    <div id="audioInputContainer">
        <h2 class="mb-2 font-semibold text-xl">Audio Input</h2>
        <div class="flex justify-center">
            <div class="w-full">
                {% block startRecording %}
                    {% include "components/startRecording.html" %}
                {% endblock %}
            </div>
            <div class="w-full">
                {% block dropZone %}
                    {% include "components/dropZone.html" %}
                {% endblock %}
            </div>
        </div>
    </div>
</div>
{% endblock %}