{% block audioInput %}
<div class="col-span-8 mx-auto p-4 w-full container">
    <div id="audioInputContainer">
        <h2 class="mb-2 font-semibold text-xl">Audio Input</h2>
        <div class="flex justify-center flex-col sm:flex-row gap-2">
            <div style="display: inherit; flex-basis: 1/3;">
                {% block startRecording %}
                    {% include "components/recordingContainer.html" %}
                {% endblock %}
            </div>
            <div style="display: inherit; flex-basis: 2/3;">
                {% block dropZone %}
                    {% include "components/dropZone.html" %}
                {% endblock %}
            </div>
        </div>
    </div>
  </div>
</div>
{% endblock %}
