{% block dropZone %}
<section class="font-semibold text-xl">
    <h2>Drop File</h2>
    <div id="dropZone"
         class="border-2 border-gray-300 p-4 border-dashed rounded-lg text-center">
        <h2 class="mb-2 font-semibold text-xl">File Upload</h2>
        <p>Drag and drop audio or text files here or click to select</p>
        <input type="file"
               id="fileInput"
               class="hidden"
               accept=".mp3,.wav,.mkv,.mp4,.txt"
               multiple>
    </div>
</section>
{% endblock %}
