{% block inputModeDropdown %}
<!-- Middle Column -->
<select
  id="inputModeOptions"
  name="inputModeOptions"
  class="inline-flex items-center ring-1 dark:ring-cyan-100/20  bg-white/80 hover:bg-blue-50/80 dark:bg-slate-900/70 dark:hover:bg-slate-950/70 backdrop-blur-sm px-4 py-2 rounded w-full font-semibold text-blue-950 dark:text-white"
  hx-get="/inputModeOptions"
  hx-trigger="change"
  hx-target="#inputContent"
>
  <option
    class="block px-4 py-2 rounded-t whitespace-no-wrap"
    value=""
  >
    Select Input Mode
  </option>
  <option
    class="block px-4 py-2 whitespace-no-wrap"
    value="text"
  >
    From Text
  </option>
  <option
    class="block px-4 py-2 rounded-b whitespace-no-wrap"
    value="audio"
  >
    From Audio
  </option>
</select>
{% endblock %}
