{% block outputModeDropdown %}
<!-- Middle Column -->
<select
  id="outputModeOptions"
  name="outputModeOptions"
  class="inline-flex items-center ring-1 dark:ring-cyan-100/20  bg-white/80 hover:bg-blue-50/80 dark:hover:bg-slate-950/80 dark:bg-slate-900/80 backdrop-blur-sm px-4 py-2 rounded w-full font-semibold text-blue-950 dark:text-white"
  hx-get="/outputModeOptions"
  hx-trigger="change"
  hx-target="#outputContent"
>
  <option
    value=""
  >
    Select Output Mode
  </option>
  <option
    value="text"
  >
    To Text
  </option>
  <option
    value="audio"
  >
    To Audio
  </option>
</select>
{% endblock %}
