{% block sourceTargetFlipper %}
<button id="swapButton" width="64px" height="64px" class="bg-indigo-300 hover:bg-indigo-400 dark:bg-indigo-500 text-white font-bold py-2 px-4 rounded-xl">
  <img src="assets/swap.svg" alt="Swap Button Icon" width="48px" height="48px" class="rotate-90 sm:rotate-0" />
</button>
<script>
document.getElementById("swapButton").addEventListener("click", function() {
  var sourceSelect = document.getElementById("sourceLanguageOptions");
  var targetSelect = document.getElementById("targetLanguageOptions");
  var temp = sourceSelect.value;
  sourceSelect.value = targetSelect.value;
  targetSelect.value = temp;
});
</script>
{% endblock %}
