{% block translateButton %}
  <section class="bg-slate-900 shadow rounded-md w-full">
    <div class="mt-4 p-4 rounded-md w-full spacey-y-2">
      <button 
      id="translateButton"
      class="bg-gradient-to-r from-cyan-700 via-cyan-800 via-emerald-800 via-sky-700 to-sky-700 m-2 p-2 rounded w-full text-white">
      <!--hx-post="/translate"
      hx-trigger="click"
      hx-include="#textInputArea, #inputModeOptions, #outputModeOptions, #sourceLanguageOptions, #targetLanguageOptions"
      hx-target="#outputContent">-->
      Translate</button>
    </div>
  </section>
{% endblock %}