<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Translations</title>
    <script src="https://unpkg.com/htmx.org"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@4.4.23/dist/full.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  </head>

  <body>
    <div class="flex justify-center">
      <div
        id="content"
        class="flex flex-col justify-center align-items-middle bg-gradient-to-r from-[#44BCFF] via-[#FF44EC] to-[#FF675E] dark:opacity-70 p-3 m-1 w-full sm:w-unset sm:p-4 m-0 sm:m-4 rounded-lg"
        style="max-width: 600px"
      >
        {% block content %} {% endblock %}
      </div>
    </div>
  </body>
</html>
